/* Header
  ------------------------------------- */

/* Mixins
  ------------------------------------- */
/*Arrow icon*/
@mixin arrowIcon($rotate){
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 8px;
    right: -15px;
    width: 10px;
    height: 10px;
    transform: rotate($rotate);
    background: url('http://artemknutov.tech/layout1/img/dist/chevron-down.svg') no-repeat 50% 50%/100%;
  }
}

/* -------------------------------------
End mixins */

.header{
  position: relative;
  width: 100%;
  height: 110px;
  background: #fff;
  transition: transform .7s ease-out;
  z-index: 3;

  .container{
    @include flex-center-vertical();
    position: relative;
    height: inherit;

    .dropdown-menu{
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-height: 300px;
      padding: 30px 170px;
      background: #fff;
      border:{
        top: 1px solid $text-color-3;
        bottom: 1.5px solid $text-color-1;
      }

      .dropdown-menu__items{
        margin: 0 60px 0 0;

        .dropdown-menu__title{
          font-family: $font-600;
          margin: 0 0 15px 0;
        }

        .dropdown-menu__item{
          width: max-content;
          margin-bottom: 10px;
          &:hover{
            transition: all 0.3s ease;
            transform: translateX(5px);
          }
          a{
            border: 1px dotted red;
          }
        }
      }
    }
  }

  .header-logo{
    flex-grow: 1;
    @media screen and (max-width: 1170px){
    }
  }

  /*menu*/
  .header-menu{
    margin-right: 140px; /* ~11vw / 15% / 140px*/

    .header-menu__items{
      display: flex;

      .header-menu__item{
        cursor: pointer;

        &:nth-child(-n+5){
          margin-right: 50px;
        }
      }

      .down{ @include arrowIcon(0deg); }

      .up{ @include arrowIcon(180deg); }

    }

  }

  /*buttons*/
  &-buttons{
    @include flex-center-vertical();

    @mixin img-bg($url, $w, $h){
      background: url($url) no-repeat 50% 50%/100%;
      width: $w;
      height: $h;
    }

    &__search{
      @include img-bg('http://artemknutov.tech/layout1/img/dist/search.svg', 20px, 20px);
    }

    &__bookmarks{
      @include img-bg('http://artemknutov.tech/layout1/img/dist/heart.svg', 20px, 20px);
    }

    &__basket{
      @include img-bg('http://artemknutov.tech/layout1/img/dist/bag.svg', 22px, 22px);
    }
  }

  .header-buttons button:nth-child(-n+2){
    margin-right: 35px;
  }
}

/* Plug-in classes
  ------------------------------------- */
.header_fixed{
  position: fixed;
  top: -110px;
  height: 60px;
  transform: translateY(110px);
  transition: transform .5s ease-out;
  box-shadow: 0 5px 5px -5px rgba(51, 51, 51, 0.1);
  z-index: 3;
}
